body {
  background-color: #67f3ec;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  max-width: 1280px;
}

h1{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
  font-family:'Courier New', Courier, monospace
}

h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

